<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Overordnet konseptuell informasjonsmodell (historisk)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Overordnet konseptuell informasjonsmodell (historisk)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4a11641d3dca44a99d1038e17ea04ae3.png" alt="Overordnet konseptuell informasjonsmodell (historisk)" usemap="#id-4a11641d3dca44a99d1038e17ea04ae3map"/>
			   <map name="id-4a11641d3dca44a99d1038e17ea04ae3map">
				  		<area shape="rect" coords="385,135,518,206" href="../elements/id-62f08bb2fbf042ff82713219e9164c3e.html"  target="element">
				  		<area shape="rect" coords="15,250,148,321" href="../elements/id-96a5aec2971e453887c29c43ca08e5e5.html"  target="element">
				  		<area shape="rect" coords="225,255,441,326" href="../elements/id-47ab601a4a7a4009880e345654706e14.html"  target="element">
				  		<area shape="rect" coords="10,135,143,206" href="../elements/id-906ca391e3c347c6a7e4b097c91243b5.html"  target="element">
				  		<area shape="rect" coords="190,135,323,206" href="../elements/id-3556bf7b72cd41b29a431a09a16f3ae6.html"  target="element">
				  		<area shape="rect" coords="15,10,148,81" href="../elements/id-fea4768acb714567a2d772b30199fb66.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Etatenes informasjonsbehov oppst&#229;r som en f&#248;lge av forvaltningsoppgavene de blir p&#229;lagt. Informasjonsbehovet kan enten dekkes ved &#229; sende skjema med sp&#248;rsm&#229;l til n&#230;ringslivet, eller ved &#229; hente samme informasjon fra et eksisterende register. Hvert dataelement i skjema og register blir kategorisert, definert, gitt et navn og tilordnet et l&#248;penummer. Denne sammenstillingen av datadefinisjoner utgj&#248;r en metadatabase med oversikt over n&#230;ringslivets oppgaveplikter til statlige myndigheter.
Hjemmel: Kun lovhjemlede oppgaveplikter er registrert i Oppgaveregisteret.
Avgiverne blir definert ved hjelp av n&#230;ringskode, organisasjonsform og antall ansatte.
Noen eksempler p&#229; sp&#248;rsm&#229;l som OR kan besvare:
&#8226;Hvordan beskrives dataelementet? Dette gj&#248;r det mulig &#229; avdekke dobbeltrapportering
&#8226;I hvilke registre finnes dataelementet?
&#8226;Hvilken etat forvalter dette registeret?
&#8226;I hvilke skjema blir dataelementet brukt?
&#8226;Hvilken type n&#230;ringsdrivende er pliktige til &#229; rapportere denne type informasjon?
&#8226;Hva er det lovmessige grunnlaget for rapporteringsplikten?
&#8226;Hvor stor er arbeidsbyrden som f&#248;lge av denne rapporteringsplikten?
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>difi:namespace</td><td class="convertlinks no-margin" style="white-space:pre-wrap">OR-original</td></tr>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fea4768acb714567a2d772b30199fb66.html" target="element"> HJEMMEL </a> </td>
											    <td> <a href="../elements/id-fea4768acb714567a2d772b30199fb66.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3556bf7b72cd41b29a431a09a16f3ae6.html" target="element"> REGISTER </a> </td>
											    <td> <a href="../elements/id-3556bf7b72cd41b29a431a09a16f3ae6.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-906ca391e3c347c6a7e4b097c91243b5.html" target="element"> OPPGAVE </a> </td>
											    <td> <a href="../elements/id-906ca391e3c347c6a7e4b097c91243b5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47ab601a4a7a4009880e345654706e14.html" target="element"> SKJEMA </a> </td>
											    <td> <a href="../elements/id-47ab601a4a7a4009880e345654706e14.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-96a5aec2971e453887c29c43ca08e5e5.html" target="element"> AVGIVER </a> </td>
											    <td> <a href="../elements/id-96a5aec2971e453887c29c43ca08e5e5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-62f08bb2fbf042ff82713219e9164c3e.html" target="element"> DATADEF </a> </td>
											    <td> <a href="../elements/id-62f08bb2fbf042ff82713219e9164c3e.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e32ece3ff880433cbf229055306b652b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e32ece3ff880433cbf229055306b652b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3556bf7b72cd41b29a431a09a16f3ae6.html" target="element"> REGISTER </a> </td>
																		<td> <a href="../elements/id-906ca391e3c347c6a7e4b097c91243b5.html" target="element"> OPPGAVE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02c6a93bd7c94d3b86db3e4f5c497174.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02c6a93bd7c94d3b86db3e4f5c497174.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3556bf7b72cd41b29a431a09a16f3ae6.html" target="element"> REGISTER </a> </td>
																		<td> <a href="../elements/id-62f08bb2fbf042ff82713219e9164c3e.html" target="element"> DATADEF </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3f033ce4cb0849fead8b3961fe27b4e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f033ce4cb0849fead8b3961fe27b4e7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-906ca391e3c347c6a7e4b097c91243b5.html" target="element"> OPPGAVE </a> </td>
																		<td> <a href="../elements/id-fea4768acb714567a2d772b30199fb66.html" target="element"> HJEMMEL </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37072b0d961f440ba4c23aa538f00413.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37072b0d961f440ba4c23aa538f00413.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47ab601a4a7a4009880e345654706e14.html" target="element"> SKJEMA </a> </td>
																		<td> <a href="../elements/id-62f08bb2fbf042ff82713219e9164c3e.html" target="element"> DATADEF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-866add8d1f314f6abfd8c2e37cfe4dca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-866add8d1f314f6abfd8c2e37cfe4dca.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47ab601a4a7a4009880e345654706e14.html" target="element"> SKJEMA </a> </td>
																		<td> <a href="../elements/id-3556bf7b72cd41b29a431a09a16f3ae6.html" target="element"> REGISTER </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33902aab80894c3da6ece1411651d845.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33902aab80894c3da6ece1411651d845.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96a5aec2971e453887c29c43ca08e5e5.html" target="element"> AVGIVER </a> </td>
																		<td> <a href="../elements/id-47ab601a4a7a4009880e345654706e14.html" target="element"> SKJEMA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13bf151585334d83a3f0deb285b0893e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13bf151585334d83a3f0deb285b0893e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-96a5aec2971e453887c29c43ca08e5e5.html" target="element"> AVGIVER </a> </td>
																		<td> <a href="../elements/id-906ca391e3c347c6a7e4b097c91243b5.html" target="element"> OPPGAVE </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>