<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prosjektmotivasjon med leveranser - i arbeid</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prosjektmotivasjon med leveranser - i arbeid</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-999a5589403742e8b009a4459a06b852.png" alt="Prosjektmotivasjon med leveranser - i arbeid" usemap="#id-999a5589403742e8b009a4459a06b852map"/>
			   <map name="id-999a5589403742e8b009a4459a06b852map">
				  		<area shape="rect" coords="970,625,1103,696" href="../elements/id-5c849ac0f9774eccad6b359f90a50401.html"  target="element">
				          <area shape="rect" coords="1130,735,1222,800" href="../objects/id-2dfa93eab2d247e08ff32b17833b42f5.html" target="element" >
				  		<area shape="rect" coords="980,740,1113,811" href="../elements/id-dd8229db873e42108d50cbfd497769df.html"  target="element">
				  		<area shape="rect" coords="970,165,1103,236" href="../elements/id-c99dd7b39e8d41d096fa0fb0b13679c6.html"  target="element">
				  				<area shape="rect" coords="465,630,598,701" href="../elements/id-0c8fb93747734a629203b6dc1e7f00ff.html"  target="element">
				  				<area shape="rect" coords="610,630,743,701" href="../elements/id-189debf76b2a420b9a4ca800627b6e1d.html"  target="element">
				  				<area shape="rect" coords="320,630,453,701" href="../elements/id-3cf91f912d36463aa58dee3d9a889137.html"  target="element">
				  				<area shape="rect" coords="175,630,308,701" href="../elements/id-dbf6c575a5d34d729e25a7721d1d20d8.html"  target="element">
				  				<area shape="rect" coords="785,630,918,701" href="../elements/id-b1450b83a247455bbccad7d44d52802e.html"  target="element">
				  				<area shape="rect" coords="30,630,163,701" href="../elements/id-20d9bc17947948a99d296cc0382620ea.html"  target="element">

				  		<area shape="rect" coords="10,600,936,716" href="../elements/id-f43927247e0441238c9c48633d61bdd8.html"  target="element">
				  				<area shape="rect" coords="460,370,593,441" href="../elements/id-09eac8ee59df4671ba2042aefb15c6a0.html"  target="element">
				  				<area shape="rect" coords="25,370,158,441" href="../elements/id-9c10299e16214297af9d0707e80656ef.html"  target="element">
				  				<area shape="rect" coords="170,370,303,441" href="../elements/id-019500238f704df2861a5da560082bfa.html"  target="element">
				  				<area shape="rect" coords="315,370,448,441" href="../elements/id-80ab6794e29b40c9ba1878eb99ee7731.html"  target="element">
				  				<area shape="rect" coords="735,290,868,361" href="../elements/id-d716a362c9be4f9db0e4d089530af793.html"  target="element">
				  				<area shape="rect" coords="595,290,728,361" href="../elements/id-f815230e6b714b67b3efb84db24005b9.html"  target="element">
				  				<area shape="rect" coords="25,290,158,361" href="../elements/id-4a142cad6fdb4bd788903392b3527cb2.html"  target="element">
				  				<area shape="rect" coords="455,290,588,361" href="../elements/id-6dd461710733411aa859468eeb53d16f.html"  target="element">
				  				<area shape="rect" coords="170,290,303,361" href="../elements/id-05aca84e769b4a05a218c8ed519dc48a.html"  target="element">
				  				<area shape="rect" coords="315,290,448,361" href="../elements/id-317bfd827d5848fd83bfdb653c715373.html"  target="element">

				  		<area shape="rect" coords="10,260,936,461" href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html"  target="element">
				  				<area shape="rect" coords="780,35,913,106" href="../elements/id-e5406b2068984ec19e5e26ea24a488dc.html"  target="element">
				  				<area shape="rect" coords="605,35,738,106" href="../elements/id-2580c376cf154498ac7b8790497e4a6d.html"  target="element">
				  				<area shape="rect" coords="315,35,448,106" href="../elements/id-ecb6c99803e44555bf4507273e562340.html"  target="element">
				  				<area shape="rect" coords="460,35,593,106" href="../elements/id-a714261523d54e90add6d5251c84c621.html"  target="element">
				  				<area shape="rect" coords="25,35,158,106" href="../elements/id-b5fe3d39cbe6421195550d8809ba8ade.html"  target="element">
				  				<area shape="rect" coords="170,35,303,106" href="../elements/id-9734dc23a4574077acc27f0ddc90a5d5.html"  target="element">

				  		<area shape="rect" coords="10,10,936,126" href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html"  target="element">
				  				<area shape="rect" coords="315,165,448,236" href="../elements/id-29ae4d5f51134a3d937c9ce8faf1744a.html"  target="element">
				  				<area shape="rect" coords="170,165,303,236" href="../elements/id-1d2d6d8e90ae4fac98c86adf7600c5f0.html"  target="element">
				  				<area shape="rect" coords="25,165,158,236" href="../elements/id-02351451db0b4cc29553e07befbfb281.html"  target="element">

				  		<area shape="rect" coords="10,135,466,251" href="../elements/id-9fa645d1b0d74d8cbcb127c2ce970f9e.html"  target="element">
				  				<area shape="rect" coords="785,165,918,236" href="../elements/id-e0918bcd084b4f2a844d4bb93cf856e1.html"  target="element">
				  				<area shape="rect" coords="640,165,773,236" href="../elements/id-cc860d279bec4f989102f581c50cdfe0.html"  target="element">
				  				<area shape="rect" coords="495,165,628,236" href="../elements/id-d0bbb38d8cf444a6a96a5e13ebb8a765.html"  target="element">

				  		<area shape="rect" coords="480,135,936,251" href="../elements/id-627dc5ceb3e2492997de6e8613191355.html"  target="element">
				  				<area shape="rect" coords="785,500,918,571" href="../elements/id-899305c71ce1451ab93c2c44f760fb9e.html"  target="element">
				  				<area shape="rect" coords="610,500,743,571" href="../elements/id-e815dc26193945a88467147f34fe3ab8.html"  target="element">
				  				<area shape="rect" coords="465,500,598,571" href="../elements/id-a1357b2c09e94469938256b2d2814826.html"  target="element">
				  				<area shape="rect" coords="320,500,453,571" href="../elements/id-b0bb8fb2e3794580854a5d31139328f6.html"  target="element">
				  				<area shape="rect" coords="170,500,303,571" href="../elements/id-2e5767f2571e4ca08b726abab764c5a6.html"  target="element">
				  				<area shape="rect" coords="25,500,158,571" href="../elements/id-f6ce85e479a3485c82dd97a133fe124d.html"  target="element">

				  		<area shape="rect" coords="10,470,936,586" href="../elements/id-73826ec41d524afc8789749d6621e19d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element"> Effektm&#229;l </a> </td>
											    <td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f6ce85e479a3485c82dd97a133fe124d.html" target="element"> Minimal rapporterings-belastning for n&#230;ringsdrivende </a> </td>
													    <td> <a href="../elements/id-f6ce85e479a3485c82dd97a133fe124d.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e5767f2571e4ca08b726abab764c5a6.html" target="element"> Gjenbruk av data </a> </td>
													    <td> <a href="../elements/id-2e5767f2571e4ca08b726abab764c5a6.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0bb8fb2e3794580854a5d31139328f6.html" target="element"> Forenkling </a> </td>
													    <td> <a href="../elements/id-b0bb8fb2e3794580854a5d31139328f6.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a1357b2c09e94469938256b2d2814826.html" target="element"> Sammenhengende tjenester med brukeren i sentrum </a> </td>
													    <td> <a href="../elements/id-a1357b2c09e94469938256b2d2814826.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e815dc26193945a88467147f34fe3ab8.html" target="element"> Effektiv tjenesteutvikling </a> </td>
													    <td> <a href="../elements/id-e815dc26193945a88467147f34fe3ab8.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-899305c71ce1451ab93c2c44f760fb9e.html" target="element"> Datadrevet innovasjon </a> </td>
													    <td> <a href="../elements/id-899305c71ce1451ab93c2c44f760fb9e.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-627dc5ceb3e2492997de6e8613191355.html" target="element"> Prinsipper </a> </td>
											    <td> <a href="../elements/id-627dc5ceb3e2492997de6e8613191355.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d0bbb38d8cf444a6a96a5e13ebb8a765.html" target="element"> Standardisering </a> </td>
													    <td> <a href="../elements/id-d0bbb38d8cf444a6a96a5e13ebb8a765.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc860d279bec4f989102f581c50cdfe0.html" target="element"> &#197;pen datadeling  </a> </td>
													    <td> <a href="../elements/id-cc860d279bec4f989102f581c50cdfe0.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e0918bcd084b4f2a844d4bb93cf856e1.html" target="element"> Kun en gang </a> </td>
													    <td> <a href="../elements/id-e0918bcd084b4f2a844d4bb93cf856e1.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9fa645d1b0d74d8cbcb127c2ce970f9e.html" target="element"> Drivere </a> </td>
											    <td> <a href="../elements/id-9fa645d1b0d74d8cbcb127c2ce970f9e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-02351451db0b4cc29553e07befbfb281.html" target="element"> &#216;kende krav til datakvalitet og gjenbruk </a> </td>
													    <td> <a href="../elements/id-02351451db0b4cc29553e07befbfb281.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1d2d6d8e90ae4fac98c86adf7600c5f0.html" target="element"> Politiske strategier om digitalisering og effektivisering i offentlig sektor </a> </td>
													    <td> <a href="../elements/id-1d2d6d8e90ae4fac98c86adf7600c5f0.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29ae4d5f51134a3d937c9ce8faf1744a.html" target="element"> Potensiale for samfunns&#248;konomisk gevinst </a> </td>
													    <td> <a href="../elements/id-29ae4d5f51134a3d937c9ce8faf1744a.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element"> Vurdering av dagens situasjon  </a> </td>
											    <td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9734dc23a4574077acc27f0ddc90a5d5.html" target="element"> Varierende datakvalitet </a> </td>
													    <td> <a href="../elements/id-9734dc23a4574077acc27f0ddc90a5d5.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5fe3d39cbe6421195550d8809ba8ade.html" target="element"> Manglende oversikt over oppgaveplikter </a> </td>
													    <td> <a href="../elements/id-b5fe3d39cbe6421195550d8809ba8ade.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a714261523d54e90add6d5251c84c621.html" target="element"> H&#248;y rapporterings-belastning for n&#230;ringsdrivende </a> </td>
													    <td> <a href="../elements/id-a714261523d54e90add6d5251c84c621.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ecb6c99803e44555bf4507273e562340.html" target="element"> Overlapp i informasjonshenting(dobbeltrapportering) </a> </td>
													    <td> <a href="../elements/id-ecb6c99803e44555bf4507273e562340.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2580c376cf154498ac7b8790497e4a6d.html" target="element"> Manglende samordning av oppgaveplikter </a> </td>
													    <td> <a href="../elements/id-2580c376cf154498ac7b8790497e4a6d.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e5406b2068984ec19e5e26ea24a488dc.html" target="element"> Manglende etterlevelse av oppgaveregisterloven </a> </td>
													    <td> <a href="../elements/id-e5406b2068984ec19e5e26ea24a488dc.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
											    <td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-317bfd827d5848fd83bfdb653c715373.html" target="element"> Bedre oversikt over oppgaveplikter og tjenester </a> </td>
													    <td> <a href="../elements/id-317bfd827d5848fd83bfdb653c715373.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-05aca84e769b4a05a218c8ed519dc48a.html" target="element"> Avslutte dobbeltrapportering mellom OR og FDK </a> </td>
													    <td> <a href="../elements/id-05aca84e769b4a05a218c8ed519dc48a.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6dd461710733411aa859468eeb53d16f.html" target="element"> Redusert rapporterings-belastningen for n&#230;ringsdrivende </a> </td>
													    <td> <a href="../elements/id-6dd461710733411aa859468eeb53d16f.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4a142cad6fdb4bd788903392b3527cb2.html" target="element"> Tydelig rollefordeling mellom OR og FDK </a> </td>
													    <td> <a href="../elements/id-4a142cad6fdb4bd788903392b3527cb2.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f815230e6b714b67b3efb84db24005b9.html" target="element"> Bedre m&#229;linger av effekter av digitaliseringen (gjenbruk/viderebruk)  </a> </td>
													    <td> <a href="../elements/id-f815230e6b714b67b3efb84db24005b9.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d716a362c9be4f9db0e4d089530af793.html" target="element"> Bedre datakvalitet </a> </td>
													    <td> <a href="../elements/id-d716a362c9be4f9db0e4d089530af793.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-80ab6794e29b40c9ba1878eb99ee7731.html" target="element"> Bedre oversikt over hvilke data offentlige virksomheter forvalter </a> </td>
													    <td> <a href="../elements/id-80ab6794e29b40c9ba1878eb99ee7731.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-019500238f704df2861a5da560082bfa.html" target="element"> Bedre m&#229;linger av effekter av digitaliseringen (gjenbruk/viderebruk)  </a> </td>
													    <td> <a href="../elements/id-019500238f704df2861a5da560082bfa.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c10299e16214297af9d0707e80656ef.html" target="element"> Se data i sammenheng med tjenester og hendelser - input, output </a> </td>
													    <td> <a href="../elements/id-9c10299e16214297af9d0707e80656ef.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09eac8ee59df4671ba2042aefb15c6a0.html" target="element"> Bedre samordning </a> </td>
													    <td> <a href="../elements/id-09eac8ee59df4671ba2042aefb15c6a0.html" target="element" class="i18n-elementtype-Outcome">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
											    <td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-20d9bc17947948a99d296cc0382620ea.html" target="element"> Oppdaterte rollebeskrivelser i Forskrift for oppgaveregisteret </a> </td>
													    <td> <a href="../elements/id-20d9bc17947948a99d296cc0382620ea.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b1450b83a247455bbccad7d44d52802e.html" target="element"> Anbefalinger for videre arbeid </a> </td>
													    <td> <a href="../elements/id-b1450b83a247455bbccad7d44d52802e.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dbf6c575a5d34d729e25a7721d1d20d8.html" target="element"> Felles, detaljert  oversikt over oppgaveplikter og tjenester </a> </td>
													    <td> <a href="../elements/id-dbf6c575a5d34d729e25a7721d1d20d8.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3cf91f912d36463aa58dee3d9a889137.html" target="element"> Nye og oppdaterte standarder og rutiner </a> </td>
													    <td> <a href="../elements/id-3cf91f912d36463aa58dee3d9a889137.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-189debf76b2a420b9a4ca800627b6e1d.html" target="element"> Nye og oppdaterte fellesl&#248;sninger </a> </td>
													    <td> <a href="../elements/id-189debf76b2a420b9a4ca800627b6e1d.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0c8fb93747734a629203b6dc1e7f00ff.html" target="element"> Egnede analyseverkt&#248;y </a> </td>
													    <td> <a href="../elements/id-0c8fb93747734a629203b6dc1e7f00ff.html" target="element" class="i18n-elementtype-Deliverable">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c99dd7b39e8d41d096fa0fb0b13679c6.html" target="element"> Effektivitet </a> </td>
											    <td> <a href="../elements/id-c99dd7b39e8d41d096fa0fb0b13679c6.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd8229db873e42108d50cbfd497769df.html" target="element"> Gapanalyse FDK-funksjonalitet </a> </td>
											    <td> <a href="../elements/id-dd8229db873e42108d50cbfd497769df.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2dfa93eab2d247e08ff32b17833b42f5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2dfa93eab2d247e08ff32b17833b42f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-5c849ac0f9774eccad6b359f90a50401.html" target="element"> Tiltak for &#229; forenkle n&#230;ringsdrivendes plikter gjennom bedre samordning. </a> </td>
											    <td> <a href="../elements/id-5c849ac0f9774eccad6b359f90a50401.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2b38a1d47302452bbae880285f3ee80d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b38a1d47302452bbae880285f3ee80d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element"> Effektm&#229;l </a> </td>
																		<td> <a href="../elements/id-f6ce85e479a3485c82dd97a133fe124d.html" target="element"> Minimal rapporterings-belastning for n&#230;ringsdrivende </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc66f144520d430c92fb23199c5bbc24.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc66f144520d430c92fb23199c5bbc24.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element"> Effektm&#229;l </a> </td>
																		<td> <a href="../elements/id-899305c71ce1451ab93c2c44f760fb9e.html" target="element"> Datadrevet innovasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2fa624daef974944aad45318a82bcb94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2fa624daef974944aad45318a82bcb94.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element"> Effektm&#229;l </a> </td>
																		<td> <a href="../elements/id-e815dc26193945a88467147f34fe3ab8.html" target="element"> Effektiv tjenesteutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7789c3e6e5ab45f48f07bc638275d8e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7789c3e6e5ab45f48f07bc638275d8e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element"> Effektm&#229;l </a> </td>
																		<td> <a href="../elements/id-a1357b2c09e94469938256b2d2814826.html" target="element"> Sammenhengende tjenester med brukeren i sentrum </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-313d06e2fb4b449aa7f5828daa698f9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-313d06e2fb4b449aa7f5828daa698f9b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element"> Effektm&#229;l </a> </td>
																		<td> <a href="../elements/id-b0bb8fb2e3794580854a5d31139328f6.html" target="element"> Forenkling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba7b7bf739b44e3e940ffc22dea797b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba7b7bf739b44e3e940ffc22dea797b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-73826ec41d524afc8789749d6621e19d.html" target="element"> Effektm&#229;l </a> </td>
																		<td> <a href="../elements/id-2e5767f2571e4ca08b726abab764c5a6.html" target="element"> Gjenbruk av data </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a773ac955d944b928742ff464071a859.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a773ac955d944b928742ff464071a859.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2e5767f2571e4ca08b726abab764c5a6.html" target="element"> Gjenbruk av data </a> </td>
																				<td> <a href="../elements/id-f6ce85e479a3485c82dd97a133fe124d.html" target="element"> Minimal rapporterings-belastning for n&#230;ringsdrivende </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cfbbf02bb8384c24b8591053618a9550.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfbbf02bb8384c24b8591053618a9550.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-627dc5ceb3e2492997de6e8613191355.html" target="element"> Prinsipper </a> </td>
																		<td> <a href="../elements/id-d0bbb38d8cf444a6a96a5e13ebb8a765.html" target="element"> Standardisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-253924639da34b3a80bd1e09bcdeab23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-253924639da34b3a80bd1e09bcdeab23.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-627dc5ceb3e2492997de6e8613191355.html" target="element"> Prinsipper </a> </td>
																		<td> <a href="../elements/id-c99dd7b39e8d41d096fa0fb0b13679c6.html" target="element"> Effektivitet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c4570472a25439599dbf41f376075df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c4570472a25439599dbf41f376075df.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-627dc5ceb3e2492997de6e8613191355.html" target="element"> Prinsipper </a> </td>
																		<td> <a href="../elements/id-cc860d279bec4f989102f581c50cdfe0.html" target="element"> &#197;pen datadeling  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e4e24c960acf407c9d3d5ee33b6c9177.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4e24c960acf407c9d3d5ee33b6c9177.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-627dc5ceb3e2492997de6e8613191355.html" target="element"> Prinsipper </a> </td>
																		<td> <a href="../elements/id-e0918bcd084b4f2a844d4bb93cf856e1.html" target="element"> Kun en gang </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cadbf899c27e4ce79136ace7a668d0fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cadbf899c27e4ce79136ace7a668d0fa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9fa645d1b0d74d8cbcb127c2ce970f9e.html" target="element"> Drivere </a> </td>
																		<td> <a href="../elements/id-02351451db0b4cc29553e07befbfb281.html" target="element"> &#216;kende krav til datakvalitet og gjenbruk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7dd7ac8aa7d44e31916185bea8767f58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dd7ac8aa7d44e31916185bea8767f58.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9fa645d1b0d74d8cbcb127c2ce970f9e.html" target="element"> Drivere </a> </td>
																		<td> <a href="../elements/id-1d2d6d8e90ae4fac98c86adf7600c5f0.html" target="element"> Politiske strategier om digitalisering og effektivisering i offentlig sektor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd0045cb8ced4daa85beeb044b878236.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd0045cb8ced4daa85beeb044b878236.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9fa645d1b0d74d8cbcb127c2ce970f9e.html" target="element"> Drivere </a> </td>
																		<td> <a href="../elements/id-29ae4d5f51134a3d937c9ce8faf1744a.html" target="element"> Potensiale for samfunns&#248;konomisk gevinst </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-492e8ff8c4bb44e6ac25505cbee267d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-492e8ff8c4bb44e6ac25505cbee267d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element"> Vurdering av dagens situasjon  </a> </td>
																		<td> <a href="../elements/id-b5fe3d39cbe6421195550d8809ba8ade.html" target="element"> Manglende oversikt over oppgaveplikter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b59b82b53f04f529198a106888dea4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b59b82b53f04f529198a106888dea4a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element"> Vurdering av dagens situasjon  </a> </td>
																		<td> <a href="../elements/id-e5406b2068984ec19e5e26ea24a488dc.html" target="element"> Manglende etterlevelse av oppgaveregisterloven </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-576e0762d4224651971350581ccf7a74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-576e0762d4224651971350581ccf7a74.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element"> Vurdering av dagens situasjon  </a> </td>
																		<td> <a href="../elements/id-2580c376cf154498ac7b8790497e4a6d.html" target="element"> Manglende samordning av oppgaveplikter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e47e7cdf1834bec9a9244aec31be6f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e47e7cdf1834bec9a9244aec31be6f3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element"> Vurdering av dagens situasjon  </a> </td>
																		<td> <a href="../elements/id-a714261523d54e90add6d5251c84c621.html" target="element"> H&#248;y rapporterings-belastning for n&#230;ringsdrivende </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ef58aaf7c2a4c1ab8757107178ba829.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ef58aaf7c2a4c1ab8757107178ba829.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element"> Vurdering av dagens situasjon  </a> </td>
																		<td> <a href="../elements/id-ecb6c99803e44555bf4507273e562340.html" target="element"> Overlapp i informasjonshenting(dobbeltrapportering) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da761ca5ea164325a35b53117658a81e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da761ca5ea164325a35b53117658a81e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-eb2d9cc7e15b41e89a6ace733bd867f4.html" target="element"> Vurdering av dagens situasjon  </a> </td>
																		<td> <a href="../elements/id-9734dc23a4574077acc27f0ddc90a5d5.html" target="element"> Varierende datakvalitet </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c71c9146e100421b976122879126ad5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c71c9146e100421b976122879126ad5c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ecb6c99803e44555bf4507273e562340.html" target="element"> Overlapp i informasjonshenting(dobbeltrapportering) </a> </td>
																				<td> <a href="../elements/id-a714261523d54e90add6d5251c84c621.html" target="element"> H&#248;y rapporterings-belastning for n&#230;ringsdrivende </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-01a14d0ddffe45a5b883facdb7325df6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01a14d0ddffe45a5b883facdb7325df6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-05aca84e769b4a05a218c8ed519dc48a.html" target="element"> Avslutte dobbeltrapportering mellom OR og FDK </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1f2ca23999814a90a67709e6e8fbb2bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f2ca23999814a90a67709e6e8fbb2bb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-d716a362c9be4f9db0e4d089530af793.html" target="element"> Bedre datakvalitet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-37b2852fe18c47988a981765e08338ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37b2852fe18c47988a981765e08338ff.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-317bfd827d5848fd83bfdb653c715373.html" target="element"> Bedre oversikt over oppgaveplikter og tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a63f372417fd4369ba64ba190d51d71a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a63f372417fd4369ba64ba190d51d71a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-6dd461710733411aa859468eeb53d16f.html" target="element"> Redusert rapporterings-belastningen for n&#230;ringsdrivende </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc7c3de70a7f43f497db4fbf9be1e23b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc7c3de70a7f43f497db4fbf9be1e23b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-4a142cad6fdb4bd788903392b3527cb2.html" target="element"> Tydelig rollefordeling mellom OR og FDK </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50857d04a4cc452d906584bb1d3179b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50857d04a4cc452d906584bb1d3179b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-f815230e6b714b67b3efb84db24005b9.html" target="element"> Bedre m&#229;linger av effekter av digitaliseringen (gjenbruk/viderebruk)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08fced86db114c2790cec1b05645ef86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08fced86db114c2790cec1b05645ef86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-80ab6794e29b40c9ba1878eb99ee7731.html" target="element"> Bedre oversikt over hvilke data offentlige virksomheter forvalter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-53cd4a1968f94d9ea76a7c1136edc545.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53cd4a1968f94d9ea76a7c1136edc545.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-019500238f704df2861a5da560082bfa.html" target="element"> Bedre m&#229;linger av effekter av digitaliseringen (gjenbruk/viderebruk)  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c384a55e88e744e4b237ada650801cd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c384a55e88e744e4b237ada650801cd0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-9c10299e16214297af9d0707e80656ef.html" target="element"> Se data i sammenheng med tjenester og hendelser - input, output </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cef867fdb2ce404c98c6982348ad3407.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cef867fdb2ce404c98c6982348ad3407.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-273d3d22decb4942bd39bac5c3b84801.html" target="element"> Resultatm&#229;l for dette prosjektet </a> </td>
																		<td> <a href="../elements/id-09eac8ee59df4671ba2042aefb15c6a0.html" target="element"> Bedre samordning </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1f4bcbfc35594b6e8e5d4ade0e4b0c6e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f4bcbfc35594b6e8e5d4ade0e4b0c6e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-80ab6794e29b40c9ba1878eb99ee7731.html" target="element"> Bedre oversikt over hvilke data offentlige virksomheter forvalter </a> </td>
																				<td> <a href="../elements/id-317bfd827d5848fd83bfdb653c715373.html" target="element"> Bedre oversikt over oppgaveplikter og tjenester </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2e3a558d51fd49f1acdd417f6efdbe50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e3a558d51fd49f1acdd417f6efdbe50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/id-dd8229db873e42108d50cbfd497769df.html" target="element"> Gapanalyse FDK-funksjonalitet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4fddf8de7b574a1a8093788d0783e1c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4fddf8de7b574a1a8093788d0783e1c3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/id-20d9bc17947948a99d296cc0382620ea.html" target="element"> Oppdaterte rollebeskrivelser i Forskrift for oppgaveregisteret </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f579e212a42b4dacabe082358d4cff15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f579e212a42b4dacabe082358d4cff15.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/id-b1450b83a247455bbccad7d44d52802e.html" target="element"> Anbefalinger for videre arbeid </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9b5b4182bc1486b87caebfae41ff46c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9b5b4182bc1486b87caebfae41ff46c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/id-dbf6c575a5d34d729e25a7721d1d20d8.html" target="element"> Felles, detaljert  oversikt over oppgaveplikter og tjenester </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f673aa8db344e4fbb7684edae8512cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f673aa8db344e4fbb7684edae8512cb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/id-3cf91f912d36463aa58dee3d9a889137.html" target="element"> Nye og oppdaterte standarder og rutiner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1d25fc836424a359f5688c6265c3e56.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1d25fc836424a359f5688c6265c3e56.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/id-0c8fb93747734a629203b6dc1e7f00ff.html" target="element"> Egnede analyseverkt&#248;y </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d51c044323a6415294600d769fd975fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d51c044323a6415294600d769fd975fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f43927247e0441238c9c48633d61bdd8.html" target="element"> Leveranser </a> </td>
																		<td> <a href="../elements/id-189debf76b2a420b9a4ca800627b6e1d.html" target="element"> Nye og oppdaterte fellesl&#248;sninger </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-48d6f16afcd54ca6a24913d09a7388fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-48d6f16afcd54ca6a24913d09a7388fd.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-20d9bc17947948a99d296cc0382620ea.html" target="element"> Oppdaterte rollebeskrivelser i Forskrift for oppgaveregisteret </a> </td>
																				<td> <a href="../elements/id-4a142cad6fdb4bd788903392b3527cb2.html" target="element"> Tydelig rollefordeling mellom OR og FDK </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f9dca480e68b4c229c820ef4dfb04956.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9dca480e68b4c229c820ef4dfb04956.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbf6c575a5d34d729e25a7721d1d20d8.html" target="element"> Felles, detaljert  oversikt over oppgaveplikter og tjenester </a> </td>
																				<td> <a href="../elements/id-317bfd827d5848fd83bfdb653c715373.html" target="element"> Bedre oversikt over oppgaveplikter og tjenester </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fc716d4848db4c27852d26c3b0c8d86d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc716d4848db4c27852d26c3b0c8d86d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dbf6c575a5d34d729e25a7721d1d20d8.html" target="element"> Felles, detaljert  oversikt over oppgaveplikter og tjenester </a> </td>
																				<td> <a href="../elements/id-80ab6794e29b40c9ba1878eb99ee7731.html" target="element"> Bedre oversikt over hvilke data offentlige virksomheter forvalter </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1bf2f4d4ec1c4013888500daccb01249.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1bf2f4d4ec1c4013888500daccb01249.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-189debf76b2a420b9a4ca800627b6e1d.html" target="element"> Nye og oppdaterte fellesl&#248;sninger </a> </td>
																				<td> <a href="../elements/id-80ab6794e29b40c9ba1878eb99ee7731.html" target="element"> Bedre oversikt over hvilke data offentlige virksomheter forvalter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1fa7ebe5aee94b1da6b2afd5b76002b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1fa7ebe5aee94b1da6b2afd5b76002b6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-189debf76b2a420b9a4ca800627b6e1d.html" target="element"> Nye og oppdaterte fellesl&#248;sninger </a> </td>
																				<td> <a href="../elements/id-317bfd827d5848fd83bfdb653c715373.html" target="element"> Bedre oversikt over oppgaveplikter og tjenester </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2732c6bb50b9450bb413313f6d1416fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2732c6bb50b9450bb413313f6d1416fc.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0c8fb93747734a629203b6dc1e7f00ff.html" target="element"> Egnede analyseverkt&#248;y </a> </td>
																				<td> <a href="../elements/id-f815230e6b714b67b3efb84db24005b9.html" target="element"> Bedre m&#229;linger av effekter av digitaliseringen (gjenbruk/viderebruk)  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-47e2f1c76b84403682bde306fe623dac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-47e2f1c76b84403682bde306fe623dac.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0c8fb93747734a629203b6dc1e7f00ff.html" target="element"> Egnede analyseverkt&#248;y </a> </td>
																				<td> <a href="../elements/id-317bfd827d5848fd83bfdb653c715373.html" target="element"> Bedre oversikt over oppgaveplikter og tjenester </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-a2c0fe287122477eb7fa6bbd91b35922.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2c0fe287122477eb7fa6bbd91b35922.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c849ac0f9774eccad6b359f90a50401.html" target="element"> Tiltak for &#229; forenkle n&#230;ringsdrivendes plikter gjennom bedre samordning. </a> </td>
																		<td> <a href="../elements/id-6dd461710733411aa859468eeb53d16f.html" target="element"> Redusert rapporterings-belastningen for n&#230;ringsdrivende </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>